@page "/"

<PageTitle>Nexus URL Shortener</PageTitle>

<h1>Nexus URL Shortener</h1>

<div>

<p><br></p>

    <div>

    <p>Frontend solution for managing Nexus company URLs.</p><br>
    
    </div>

<div><img src=./images/handy-meditating-cloud.gif></div>

</div>
