@page "/"

<PageTitle>Nexus URL Shortener</PageTitle>

<h1>Nexus URL Shortener</h1>
<div>
    <p>
    Welcome to the <b>URL Shortener Admin Center</b>
    </p>

    <div>

    <p>Frontend solution for managing Nexus company URLs.</p>
    
    </div>

    <div style="align-content: right;"><img class="mainLogo" src="/images/TinyBlazorAdmin.png" /></div>
</div>
