@page "/"

<PageTitle>Nexus URL Shortener</PageTitle>

<br>
<br>

<h1>Nexus URL Shortener</h1>
<div>

    <div>

    <p>Frontend solution for managing Nexus company URLs.</p><br>
    
    </div>

<div><img src=./images/handy-meditating-cloud.gif></div>

</div>
